<%= simple_form_for([@instituicao, @supervisor]) do |f| %>
  <%= f.input :nome %>
  <%= f.input :matricula, :label => 'Matrícula' %>
  <%= f.input :lotacao, :label => 'Lotação' %>
  <%= f.input :funcao, :label => 'Função' %>

  <fieldset>
    <legend>Contato</legend>
    <%= f.input :telefone, :input_html => { :class => 'mask-telefone'} %>
    <%= f.input :celular, :input_html => { :class => 'mask-telefone'} %>
    <%= f.input :email, :label => 'E-mail' %>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Salvar', :name => 'salvar'  %>
    <%= f.submit 'Salvar e cadastrar outro', :name => 'salvar_cadastrar_supervisor' %>
  </div>
<% end %>

