<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>
  <table id="lista_de_supervisores">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Lotação</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>E-mail</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @supervisores.each do |supervisor| %>
      <tr>
        <td><%= link_to supervisor.nome, edit_instituicao_supervisor_path(@instituicao, supervisor) %></td>
        <td><%=h supervisor.lotacao %></td>
        <td><%=h supervisor.telefone %></td>
        <td><%=h supervisor.celular %></td>
        <td><%=h supervisor.email %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_instituicao_supervisor_path(@instituicao, supervisor) %>
          <%= link_to 'Excluir', instituicao_supervisor_path(@instituicao, supervisor),
                                 :confirm => "Tem certeza que deseja deletar #{supervisor.nome}?",
                                 :method => :delete,
                                 :class => 'delete' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar supervisor', new_instituicao_supervisor_path %></li>
  </ul>
<% end %>

