<h1>Listing supervisores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Lotacao</th>
    <th>Matricula</th>
    <th>Lotacao</th>
    <th>Funcao</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Instituicao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @supervisores.each do |supervisor| %>
  <tr>
    <td><%= supervisor.nome %></td>
    <td><%= supervisor.lotacao %></td>
    <td><%= supervisor.matricula %></td>
    <td><%= supervisor.lotacao %></td>
    <td><%= supervisor.funcao %></td>
    <td><%= supervisor.telefone %></td>
    <td><%= supervisor.celular %></td>
    <td><%= supervisor.email %></td>
    <td><%= supervisor.instituicao %></td>
    <td><%= link_to 'Show', supervisor %></td>
    <td><%= link_to 'Edit', edit_supervisor_path(supervisor) %></td>
    <td><%= link_to 'Destroy', supervisor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Supervisor', new_supervisor_path %>
