<% add_breadcrumb @supervisor.nome, instituicao_supervisor_path %>
<% content_for :principal_content do %>
<h1>Exibindo <%= @supervisor.nome %></h1>
  </br>
  <table>
    <thead>
		  <tr>
			  <th>Dados do supervisor</th>
		  </tr>
	  </thead>

	  <tbody id="dados_do_supervisor">
	    <tr>
        <th class="label">Nome</th>
        <td><%=h @supervisor.nome %></td>
      </tr>

	    <tr>
        <th class="label">Funação</th>
        <td><%=h @supervisor.funcao %></td>
      </tr>

	    <tr>
        <th class="label">Lotação</th>
        <td><%=h @supervisor.lotacao %></td>
      </tr>

      <tr>
        <th class="label">Matrícula</th>
        <td><%=h @supervisor.matricula %></td>
      </tr>
	  </tbody>
  </table>

  <table>
    <thead>
		  <tr>
			  <th>Contato</th>
		  </tr>
	  </thead>

	  <tbody id="contato_do_supervisor">
      <tr>
        <th class="label">E-mail</th>
        <td><%=h @supervisor.email %></td>
      </tr>

      <tr>
        <th class="label">Telefone</th>
        <td><%=h @supervisor.telefone %></td>
      </tr>

      <tr>
        <th class="label">Celular</th>
        <td><%=h @supervisor.celular %></td>
      </tr>
	  </tbody>
  </table>

<% end %>
<% content_for :side_bar do %>
  <ul class="side_bar_menu">
    <li><%= link_to 'Editar', edit_instituicao_supervisor_path %></li>
  </ul>
<% end %>

