<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @supervisor.nome %>
</p>

<p>
  <b>Lotacao:</b>
  <%= @supervisor.lotacao %>
</p>

<p>
  <b>Matricula:</b>
  <%= @supervisor.matricula %>
</p>

<p>
  <b>Lotacao:</b>
  <%= @supervisor.lotacao %>
</p>

<p>
  <b>Funcao:</b>
  <%= @supervisor.funcao %>
</p>

<p>
  <b>Telefone:</b>
  <%= @supervisor.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @supervisor.celular %>
</p>

<p>
  <b>Email:</b>
  <%= @supervisor.email %>
</p>

<p>
  <b>Instituicao:</b>
  <%= @supervisor.instituicao %>
</p>


<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisores_path %>
