<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Origem do contato</th>
      <th>Forma de contato</th>
      <th>Descrição</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
  <% @itens_tramitacao.each do |item| %>
  <tr>
    <td><%= item.data_br %></td>
    <td><%= item.origem_do_contato %></td>
    <td><%= item.origem_do_contato %></td>
    <td><%= item.descricao %></td>
    <td class="actions">
      <%= link_to 'Excluir', item, :remote => true,
                             :confirm => "Tem certeza que deseja deletar esse ítem da tramitação?",
                             :method => 'delete',
                             :class => 'delete' %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

