<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @item_tramitacao.data %>
</p>

<p>
  <b>Origem do contato:</b>
  <%= @item_tramitacao.origem_do_contato %>
</p>

<p>
  <b>Forma de contato:</b>
  <%= @item_tramitacao.forma_de_contato %>
</p>

<p>
  <b>Descricao:</b>
  <%= @item_tramitacao.descricao %>
</p>


<%= link_to 'Edit', edit_item_tramitacao_path(@item_tramitacao) %> |
<%= link_to 'Back', item_tramitacaos_path %>
