<% content_for :principal_content do %>
<h2>Esqueceu sua senha?</h2>
<p>Digite seu email para receber instruções de redefinição de senha.</p>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.submit "Enviar" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
<% end %>

