<% content_for :head do %>
  <%= javascript_include_tag 'cadastro_instituicao.js' %>
  <%= javascript_include_tag 'mascara.js' %>
  <%= javascript_include_tag 'buscarCep.js' %>
<% end %>

<% content_for :script do %>
  <script type="text/javascript">
    window.onload = alterarCampos;
  </script>
<% end %>

<%= simple_form_for @instituicao do |i| %>
  <%= i.input :tipo, :collection => Instituicao::TIPO_DE_INSTITUICAO %>
  <%= i.input :nome, :label => "Nome fantasia" %>
  <%= i.input :sigla %>
  <%= i.input :razao_social, :label => 'Razão social' %>

  <%= i.input :origem, :collection => Instituicao::ORIGEM,
                       :include_blank => false,
                       :input_html => { :onchange => "alterarCampos()"} %>
  <%= i.input :pais, :label => 'País' %>
  <%= i.input :cnpj, :label => 'CNPJ' %>
  <%= i.input :registro_local %>

  <fieldset>
    <legend>Endereço</legend>

    <%= i.input :cep, :label => "CEP",
                      :label_html => {:id => "label_cep"},
                      :input_html => { :maxlength =>"10",
                                       :onkeypress => "formatarMascara(this, '##.###-###', event)",
                                       :onchange => "buscarCep(this.value, 'instituicao')" } %>
    <%= i.input :estado, :collection => estados_brasileiros %>
    <%= i.input :cidade %>
    <%= i.input :bairro %>
    <%= i.input :rua, :as => 'string' %>
    <%= i.input :numero, :label => 'Número', :as => 'string' %>
    <%= i.input :complemento %>
  </fieldset>

  <fieldset>
    <legend>Contato</legend>
    <%= i.input :telefone %>
    <%= i.input :celular %>
    <%= i.input :fax %>
    <%= i.input :caixa_postal, :label => 'Caixa postal' %>
    <%= i.input :email, :label => 'E-mail' %>
    <%= i.input :site %>
  </fieldset>

  <div class="actions">
    <%= i.submit 'Salvar', :name => 'salvar'  %>
    <%= i.submit 'Salvar e cadastrar outro', :name => 'salvar_cadastrar_instituicao' %>
    <%= i.submit 'Salvar e cadastrar convênio', :name => 'salvar_cadastrar_convenio' %>
    <%= i.submit 'Salvar e cadastrar representante', :name => 'salvar_cadastrar_representante' %>
    <%= i.submit 'Salvar e cadastrar supervisor', :name => 'salvar_cadastrar_supervisor' %>
  </div>
<% end %>

