<%= javascript_include_tag "cadastro_instituicao.js" %>

<%= simple_form_for @instituicao do |i| %>
  <%= i.input :tipo, :collection => Instituicao::TIPO_DE_INSTITUICAO,
                     :prompt => '(Selecione o tipo da instituição)' %>

  <%= i.input :nome %>
  <%= i.input :origem, :collection => Instituicao::ORIGEM,
                       :prompt => '(Selecione a origem da instituição)' %>

  <%= i.input :cnpj, :label => 'CNPJ' %>
  <%= i.input :pais, :label => 'País' %>
  <%= i.input :registro_local %>
  <%= i.input :sigla %>
  <%= i.input :razao_social, :label => 'Razão social' %>
  <%= i.input :tipo_de_convenio,
              :collection => Instituicao::TIPO_DE_CONVENIO,
              :prompt => '(Selecione o tipo de convênio da instituição)',
              :label => 'Tipo de convênio' %>
  <%= i.input :site %>
  <%= i.input :inicio_do_convenio, :label => 'Início', :as => :string %>
  <%= i.input :fim_do_convenio, :label => 'Fim', :as => :string %>

  <fieldset>
    <legend>Endereço</legend>

    <%= i.input :cep, :label => "CEP" %>
    <%= i.input :estado %>
    <%= i.input :cidade %>
    <%= i.input :bairro %>
    <%= i.input :rua, :as => 'string' %>
    <%= i.input :numero, :label => 'Número', :as => 'string' %>
    <%= i.input :complemento %>
    <%= i.input :telefone %>
    <%= i.input :celular %>
    <%= i.input :fax %>
    <%= i.input :caixa_postal, :label => 'Caixa postal' %>
    <%= i.input :email, :label => 'E-mail' %>
  </fieldset>

  <div class="actions">
    <%= i.submit 'Salvar'  %>
  </div>
<% end %>

