<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>
  <%= javascript_include_tag "cadastro_instituicao.js" %>

  <h2>Defina as áreas de atuação da instituição</h2>

  <%= simple_form_for @instituicao do |instituicao| %>
    <div class="tree">
      <%= lista_de_areas(Area.arvore, @instituicao) %>
    </div>

    <div class="actions">
      <%= instituicao.submit 'Salvar', :name => "salvar"  %>
    </div>
  <% end %>

<% end %>

