<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>
  <%= javascript_include_tag "cadastro_instituicao.js" %>

  <h2>Defina as áreas de atuação da instituição</h2>

  <%= simple_form_for @instituicao do |instituicao| %>
    <%= raw mostrar_arvore_de_areas_instituicao(@super_areas) %>

    <div class="actions">
      <%= instituicao.submit 'Salvar'  %>
    </div>
  <% end %>

<% end %>

