<% content_for :main_content do %>
  <table id="lista_de_instituicoes">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo de convênio</th>
        <th>Início do convênio</th>
        <th>CNPJ</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @instituicoes.each do |instituicao| %>
      <tr>
        <td><%= link_to instituicao.nome, edit_instituicao_path(instituicao) %></td>
        <td><%=h Instituicao::TIPO_DE_CONVENIO.key(instituicao.tipo_de_convenio) %></td>
        <td><%=h instituicao.inicio_do_convenio.to_s_br %></td>
        <td><%=h instituicao.cnpj %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_instituicao_path(instituicao), :class => 'edit' %>
          <%= link_to 'Excluir', instituicao, :confirm => "Tem certeza que deseja deletar #{instituicao.nome}?",
                                              :method => :delete,
                                              :class => 'delete' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar instituição', new_instituicao_path %></li>
  </ul>
<% end %>

