<% content_for :main_content do %>
  <%= form_for @search, :html => { :class => 'data_search' } do |f| %>
    <div class="search">
      <%= f.text_field :nome_or_razao_social_contains %>
      <%= f.submit "Pesquisar" %>
    </div>

    <div id="instituicoes"><%= render 'tabela_instituicoes' %></div>
  <% end %>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar instituição', new_instituicao_path %></li>
  </ul>
<% end %>

