<% add_breadcrumb @instituicao.nome, instituicao_path %>
<% content_for :principal_content do %>
<h1>Exibindo <%= @instituicao.nome %></h1>
  </br>
  <table>
    <thead>
		  <tr>
			  <th colspan="2">Dados da instituicão</th>
		  </tr>
	  </thead>

	  <tbody id="dados_da_instituicao">
      <tr>
        <th class="label">Razão social</th>
        <td><%=h @instituicao.razao_social %></td>
      </tr>

	    <tr>
        <th class="label">Nome</th>
        <td><%=h @instituicao.nome %></td>
      </tr>

	    <tr>
        <th class="label">Sigla</th>
        <td><%=h @instituicao.sigla %></td>
      </tr>

	    <tr>
        <th class="label">Tipo de instituição</th>
        <td><%=h Instituicao::TIPO_DE_INSTITUICAO.key(@instituicao.tipo) %></td>
      </tr>

      <tr>
        <th class="label">Tipo de convênio</th>
        <td><%=h Instituicao::TIPO_DE_CONVENIO.key(@instituicao.tipo_de_convenio) %></td>
      </tr>

      <tr>
        <th class="label">CNPJ</th>
        <td><%=h @instituicao.cnpj %></td>
      </tr>

      <tr>
        <th class="label">Registro local</th>
        <td><%=h @instituicao.registro_local %></td>
      </tr>

	    <tr>
        <th class="label">Início do convênio</th>
        <td><%=h @instituicao.inicio_do_convenio.to_s_br %></td>
      </tr>

	    <tr>
        <th class="label">Fim do convênio</th>
        <td><%=h @instituicao.fim_do_convenio.to_s_br %></td>
      </tr>

      <tr>
        <th class="label">Site</th>
        <td><%=h @instituicao.site %></td>
      </tr>

      <tr>
        <th class="label">Áreas</th>
        <td><%=h @instituicao.areas %></td>
      </tr>
	  </tbody>
  </table>

  <table>
    <thead>
		  <tr>
			  <th colspan="2">Endereço</th>
		  </tr>
	  </thead>
	  <tbody id="endereco_da_instituicao">
      <tr>
        <th class="label">País</th>
        <td><%=h @instituicao.pais %></td>
      </tr>

      <tr>
        <th class="label">Estado</th>
        <td><%=h @instituicao.estado %></td>
      </tr>

      <tr>
        <th class="label">Caixa postal</th>
        <td><%=h @instituicao.caixa_postal %></td>
      </tr>

      <tr>
        <th class="label">Cidade</th>
        <td><%=h @instituicao.cidade %></td>
      </tr>

      <tr>
        <th class="label">CEP</th>
        <td><%=h @instituicao.cep %></td>
      </tr>

      <tr>
        <th class="label">Bairro</th>
        <td><%=h @instituicao.bairro %></td>
      </tr>

      <tr>
        <th class="label">Rua</th>
        <td><%=h @instituicao.rua %></td>
      </tr>

      <tr>
        <th class="label">Numero</th>
        <td><%=h @instituicao.numero %></td>
      </tr>

      <tr>
        <th class="label">Complemento</th>
        <td><%=h @instituicao.complemento %></td>
      </tr>
	  </tbody>
  </table>

  <table>
    <thead>
		  <tr>
			  <th colspan="2">Contato</th>
		  </tr>
	  </thead>
	  <tbody id="contato_da_instituicao">
      <tr>
        <th class="label">E-mail</th>
        <td><%=h @instituicao.email %></td>
      </tr>

      <tr>
        <th class="label">Telefone</th>
        <td><%=h @instituicao.telefone %></td>
      </tr>

      <tr>
        <th class="label">Celular</th>
        <td><%=h @instituicao.celular %></td>
      </tr>

      <tr>
        <th class="label">Fax</th>
        <td><%=h @instituicao.fax %></td>
      </tr>
	  </tbody>
  </table>
  </br>

<% end %>
<% content_for :side_bar do %>
  <ul class="options_menu">
    <li><%= link_to 'Editar', edit_instituicao_path, :class => "edit" %></li>
    <li><%= link_to 'Gerar termo de convênio',gerar_termo_instituicao_path(@instituicao) %></li>
    <li><%= link_to 'Representantes', instituicao_representantes_path(@instituicao) %></li>
    <li><%= link_to 'Supervisores', instituicao_supervisores_path(@instituicao) %></li>
    <li><%= link_to 'Áreas de atuação', areas_instituicao_path(@instituicao) %></li>
  </ul>
<% end %>

