<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui.css' %>
  <%= stylesheet_link_tag 'ui.theme.css' %>
<% end %>

<% content_for :datepicker do %>
  <%= datepicker 'convenio_inicio_br' %>
  <%= datepicker 'convenio_fim_br' %>
<% end %>

<%= simple_form_for([@instituicao, @convenio]) do |f| %>
  <%= f.input :numero %>
  <%= f.input :tipo, :collection => Convenio::TIPO, :include_blank => false %>
  <%= f.input :inicio_br, :label => 'Início', :as => :string %>
  <%= f.input :fim_br, :label => 'Fim', :as => :string %>
  <%= f.input :situacao, :label => 'Situação', :collection => Convenio::SITUACAO, :include_blank => false %>


  <div class="actions">
    <%= f.submit 'Salvar' %>
  </div>

<% end %>

