<% content_for :head do %>
  <%= javascript_include_tag 'jqModal' %>

  <script type="text/javascript">
    $().ready(function () {
        $('#window_novo_convenio').jqm();
    });
  </script>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>

  <div id="window_novo_convenio" class="jqmWindow window">
    <%= render :partial => 'window_iniciar_convenio' %>
  </div>

  <div id="window_tramitacao" class="jqmWindow window">
    <%= render :partial => '' %>
  </div>

  <%= render :partial => 'tabela_convenios' %>

<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><a href="#" class="jqModal">Iniciar processo de convênio</a></li>
  </ul>
<% end %>

