<% content_for :head do %>
  <%= javascript_include_tag 'jqModal' %>
  <%= stylesheet_link_tag 'jquery-ui.css' %>
  <%= stylesheet_link_tag 'ui.theme.css' %>

  <script type="text/javascript">
    $().ready(function () {
        $('#window_novo_convenio').jqm({modal: true, trigger: '.show_convenio_window'});
        $('#window_tramitacao').jqm({modal: true, trigger: '.show_tramitacao_window'});
    });
  </script>
<% end %>

<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>

  <div id="window_novo_convenio" class="jqmWindow window">
    <%= render :partial => 'window_iniciar_convenio' %>
  </div>

  <div id="window_tramitacao" class="jqmWindow window">
    <div class="window_header">
      <h3>Tramitação do convênio #</h3>
      <a href="#" class="jqmClose"><strong>Fechar</strong></a>

      <br class="clear" />
    </div>
    <div id="tramitacao"><%= render :partial => 'itens_tramitacao/index' %></div>
  </div>

  <%= render :partial => 'tabela_convenios' %>

<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><a href="#" class="show_convenio_window">Iniciar processo de convênio</a></li>
  </ul>
<% end %>

