<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>
  <table id="lista_de_convenios">
    <thead>
      <tr>
        <th>Número</th>
        <th>Tipo</th>
        <th>Início</th>
        <th>Fim</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @convenios.each do |convenio| %>
      <tr>
        <td><%= link_to convenio.numero, edit_instituicao_convenio_path(@instituicao, convenio) %></td>
        <td><%=h Convenio::TIPO.key(convenio.tipo) %></td>
        <td><%=h convenio.inicio_br %></td>
        <td><%=h convenio.fim_br %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_instituicao_convenio_path(@instituicao, convenio) %>
          <%= link_to 'Excluir', instituicao_convenio_path(@instituicao, convenio),
                                 :confirm => "Tem certeza que deseja deletar o convênio de número #{convenio.numero}?",
                                 :method => :delete,
                                 :class => 'delete' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar convênio', new_instituicao_convenio_path %></li>
  </ul>
<% end %>

