<%= simple_form_for(@estagiario) do |f| %>

  <fieldset>
  <legend>Dados acadêmicos</legend>
    <%= f.input :matricula %>
    <%= f.input :matricula_grh %>
    <%= f.input :curso %>
    <%= f.input :situacao_da_matricula, :collection => ["Concluído", "Em curso"] %>
    <div class="input select optional">
      <%= f.label :tempo_em_curso %>
      <%= select :estagiario, :tempo_em_curso, Estagiario::TEMPO_EM_CURSO, {:include_blank => true} %>
      <%= select :estagiario, :formato_tempo_em_curso, ["Período", "Ano", "Módulo"], {:include_blank => true} %>
    </div>
    <%= f.input :escolaridade %>
  </fieldset>

  <fieldset>
  <legend>Dados pessoais</legend>
    <%= f.input :nome %>
    <%= f.input :data_de_nascimento, :as => :string %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :orgao_expedidor %>
    <%= f.input :data_de_expedicao, :as => :string %>
    <%= f.input :nacionalidade %>
    <%= f.input :naturalidade %>
    <%= f.input :sexo %>
    <%= f.input :filiacao %>
    <%= f.input :estado_civil %>
    <%= f.input :nome_do_conjuge %>
    <%= f.input :certificado_de_reservista %>
    <%= f.input :titulo_de_eleitor %>
  </fieldset>

  <fieldset>
  <legend>Endereço</legend>
    <%= f.input :cep %>
    <%= f.input :estado %>
    <%= f.input :cidade %>
    <%= f.input :bairro %>
    <%= f.input :rua %>
    <%= f.input :numero %>
    <%= f.input :complemento %>
  </fieldset>

  <fieldset>
  <legend>Contato</legend>
    <%= f.input :telefone %>
    <%= f.input :celular %>
    <%= f.input :email %>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Salvar', :name => "salvar" %>
    <%= f.submit 'Salvar e editar', :name => "salvar_editar"  %>
    <%= f.submit 'Salvar e cadastrar outro', :name => "salvar_cadastrar_estagiario" %>
  </div>
<% end %>

