<% content_for :head do %>
  <%= javascript_include_tag 'mascara.js' %>
  <%= javascript_include_tag 'buscarCep.js' %>
  <%= javascript_include_tag 'jqModal' %>
  <%= javascript_include_tag 'window' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'jquery-ui.tablefilter.js' %>
  <%= stylesheet_link_tag 'jquery-ui.css' %>
  <%= stylesheet_link_tag 'ui.theme.css' %>

  <script type="text/javascript">
    $().ready(function() {
        $('#window_estagiario_instituicao').jqm();
    });
  </script>
<% end %>

<% content_for :datepicker do %>
  <%= datepicker 'estagiario_data_de_nascimento_br' %>
  <%= datepicker 'estagiario_data_de_expedicao_br' %>
<% end %>

<div id="window_estagiario_instituicao" class="jqmWindow window">
  <%= render :partial => 'window_instituicoes' %>
</div>

<%= simple_form_for(@estagiario) do |f| %>
  <fieldset>
    <legend>Dados acadêmicos</legend>
    <div class="input string optional">
      <label for="instituicao_fake">Instituição</label>
      <input type="text" id="instituicao_fake" class="string optional jqModal" value="<%= @estagiario.instituicao.nome if @estagiario.instituicao %>" />
    </div>

    <%= f.input :instituicao_id, :as => :hidden %>
    <%= f.input :matricula %>
    <%= f.input :situacao_da_matricula, :collection => ["Concluído", "Em curso"] %>
    <%= f.input :curso %>
    <div class="input select optional">
      <%= f.label :tempo_em_curso %>
      <%= select :estagiario, :tempo_em_curso, Estagiario::TEMPO_EM_CURSO, {:include_blank => true} %>
      <%= select :estagiario, :formato_tempo_em_curso, ["Período", "Ano", "Módulo"], {:include_blank => true} %>
    </div>
    <%= f.input :escolaridade, :collection => ApplicationHelper::ESCOLARIDADE %>
    <%= f.input :matricula_grh %>
  </fieldset>

  <fieldset>
    <legend>Dados pessoais</legend>
    <%= f.input :nome %>
    <%= f.input :data_de_nascimento_br, :as => :string, :label => 'Data de nascimento' %>
    <%= f.input :cpf %>
    <%= f.input :rg %>
    <%= f.input :orgao_expedidor %>
    <%= f.input :data_de_expedicao_br, :as => :string, :label => 'Data de expedição' %>
    <%= f.input :filiacao %>
    <%= f.input :nacionalidade %>
    <%= f.input :naturalidade %>
    <%= f.input :sexo, :collection => [ "Masculino", "Feminino" ] %>
    <%= f.input :estado_civil, :collection => ApplicationHelper::ESTADOS_CIVIS %>
    <%= f.input :nome_do_conjuge %>
    <%= f.input :certificado_de_reservista %>
    <%= f.input :titulo_de_eleitor %>
  </fieldset>

  <fieldset>
    <legend>Endereço</legend>
    <%= f.input :cep, :label => "CEP",
                      :label_html => {:id => "label_cep"},
                      :input_html => { :maxlength =>"10",
                                       :onkeypress => "formatarMascara(this, '##.###-###', event)",
                                       :onchange => "buscarCep(this.value, 'estagiario')" } %>
    <%= f.input :estado, :collection => estados_brasileiros %>
    <%= f.input :cidade %>
    <%= f.input :bairro %>
    <%= f.input :rua %>
    <%= f.input :numero %>
    <%= f.input :complemento %>
  </fieldset>

  <fieldset>
    <legend>Contato</legend>
    <%= f.input :telefone %>
    <%= f.input :celular %>
    <%= f.input :email %>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Salvar', :name => "salvar" %>
    <%= f.submit 'Salvar e editar', :name => "salvar_editar"  %>
    <%= f.submit 'Salvar e cadastrar outro', :name => "salvar_cadastrar_estagiario" %>
  </div>
<% end %>

