<% content_for :head do %>
  <%= javascript_include_tag 'buscarCep.js' %>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'jquery-ui.tablefilter.js' %>
  <%= javascript_include_tag 'jquery.chosen.js' %>
  <%= stylesheet_link_tag 'jquery-ui.css' %>
  <%= stylesheet_link_tag 'ui.theme.css' %>

<% end %>

<% content_for :datepicker do %>
  <%= datepicker 'estagiario_data_de_nascimento_br' %>
  <%= datepicker 'estagiario_data_de_expedicao_br' %>
<% end %>


<%= simple_form_for(@estagiario) do |f| %>
  <fieldset>
    <legend>Dados acadêmicos</legend>

    <%= f.input :matricula_grh %>
  </fieldset>

  <fieldset>
    <legend>Dados pessoais</legend>
    <%= f.input :nome %>
    <%= f.input :data_de_nascimento_br, :as => :string, :label => 'Data de nascimento', :input_html => { :class => 'mask-data'} %>
    <%= f.input :cpf, :input_html => { :class => 'mask-cpf'} %>
    <%= f.input :rg %>
    <%= f.input :orgao_expedidor %>
    <%= f.input :data_de_expedicao_br, :as => :string, :label => 'Data de expedição', :input_html => { :class => 'mask-data'} %>
    <%= f.input :filiacao %>
    <%= f.input :nacionalidade %>
    <%= f.input :passaporte %>
    <%= f.input :naturalidade %>
    <%= f.input :sexo, :collection => [ "Masculino", "Feminino" ] %>
    <%= f.input :estado_civil, :collection => ApplicationHelper::ESTADOS_CIVIS %>
    <%= f.input :nome_do_conjuge %>
    <%= f.input :certificado_de_reservista %>
    <%= f.input :titulo_de_eleitor %>
  </fieldset>

  <fieldset>
    <legend>Endereço</legend>
    <%= f.input :cep, :label => "CEP",
      :label_html => {:id => "label_cep"},
      :input_html => { :class => 'mask-cep',
        :onchange => "buscarCep(this.value, 'estagiario')" } %>
    <%= f.input :estado, :collection => estados_brasileiros %>
    <%= f.input :cidade %>
    <%= f.input :bairro %>
    <%= f.input :rua %>
    <%= f.input :numero %>
    <%= f.input :complemento %>
  </fieldset>

  <fieldset>
    <legend>Contato</legend>
    <%= f.input :telefone, :input_html => { :class => 'mask-data'} %>
    <%= f.input :celular, :input_html => { :class => 'mask-data'} %>
    <%= f.input :email %>
  </fieldset>

  <div class="actions">
    <%= f.submit 'Salvar', :name => "salvar" %>
    <%= f.submit 'Salvar e editar', :name => "salvar_editar"  %>
    <%= f.submit 'Salvar e cadastrar outro', :name => "salvar_cadastrar_estagiario" %>
  </div>

  <script type="text/javascript"> $(".chzn-select").chosen();</script>
<% end %>

