<% content_for :main_content do %>
  <table id="lista_de_estagiarios">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Matrícula</th>
        <th>Curso</th>
        <th>Período</th>
        <th>Situação</th>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @estagiarios.each do |estagiario| %>
        <tr>
          <td><%= estagiario.nome %></td>
          <td><%= estagiario.matricula %></td>
          <td><%= estagiario.curso %></td>
          <td><%= Estagiario::TEMPO_DE_CURSO[estagiario.tempo_em_curso] %></td>
          <td><%= estagiario.situacao_da_matricula %></td>
          <td><%= estagiario.email %></td>
          <td class="actions">
            <%= link_to 'Editar', edit_estagiario_path(estagiario) %>
            <%= link_to 'Excluir', estagiario, :confirm => "Tem certeza que deseja deletar #{estagiario.nome}?",
                                               :method => :delete,
                                               :class => 'delete' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar estagiário', new_estagiario_path %></li>
  </ul>
<% end %>

