<% content_for :main_content do %>
  <%= form_for @search, :html => { :class => 'data_search' } do |f| %>
    <div class="search">
      <%= f.text_field :nome_or_matricula_or_cpf_contains %>
      <%= f.submit "Pesquisar" %>
    </div>
    <div id="estagiarios"><%= render 'tabela_estagiarios' %></div>
  <% end %>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar estagiário', new_estagiario_path %></li>
  </ul>
<% end %>

