<% content_for :submenu do %>
  <%= render :partial => 'layouts/submenu_instituicoes' %>
<% end %>

<% content_for :main_content do %>
  <table id="lista_de_representantes">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Função</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>E-mail</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @representantes.each do |representante| %>
      <tr>
        <td><%= link_to representante.nome, edit_instituicao_representante_path(@instituicao, representante) %></td>
        <td><%=h representante.funcao %></td>
        <td><%=h representante.telefone %></td>
        <td><%=h representante.celular %></td>
        <td><%=h representante.email %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_instituicao_representante_path(@instituicao, representante) %>
          <%= link_to 'Excluir', instituicao_representante_path(@instituicao, representante),
                                 :confirm => "Tem certeza que deseja deletar #{representante.nome}?",
                                 :method => :delete,
                                 :class => 'delete' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :main_actions do %>
  <ul class="actions right">
    <li><%= link_to 'Cadastrar representante', new_instituicao_representante_path %></li>
  </ul>
<% end %>

