<% content_for :principal_content do %>
  <table class="lista_de_itens" id="lista_de_representantes">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Função</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>E-mail</th>
        <th class="manipulators"></th>
      </tr>
    </thead>
    <tbody>
    <% @instituicao.representantes.each do |representante| %>
      <tr>
        <td><%=h representante.nome %></td>
        <td><%=h representante.funcao %></td>
        <td><%=h representante.telefone %></td>
        <td><%=h representante.celular %></td>
        <td><%=h representante.email %></td>
        <td class="manipulators">
          <%= link_to 'Exibir', instituicao_representante_path(@instituicao, representante) %>
          <%= link_to 'Editar', edit_instituicao_representante_path(@instituicao, representante) %>
          <%= link_to 'Excluir', instituicao_representante_path(@instituicao, representante), :confirm => "Tem certeza que deseja deletar #{representante.nome}?", :method => :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :side_bar do %>
  <ul class="side_bar_menu">
    <li><%= link_to 'Cadastrar representante', new_instituicao_representante_path %></li>
  </ul>
<% end %>

