<% add_breadcrumb @representante.nome, instituicao_representante_path %>
<% content_for :principal_content do %>
<h1>Exibindo <%= @representante.nome %></h1>
  </br>
  <table>
    <thead>
		  <tr>
			  <th>Dados do representante</th>
		  </tr>
	  </thead>

	  <tbody id="dados_do_representante">
	    <tr>
        <th class="label">Nome</th>
        <td><%=h @representante.nome %></td>
      </tr>

	    <tr>
        <th class="label">Função</th>
        <td><%=h @representante.funcao %></td>
      </tr>

      <tr>
        <th class="label">RG</th>
        <td><%=h @representante.rg %></td>
      </tr>

      <tr>
        <th class="label">Órgão expedidor</th>
        <td><%=h @representante.orgao_expedidor %></td>
      </tr>

      <tr>
        <th class="label">CPF</th>
        <td><%=h @representante.cpf %></td>
      </tr>
	  </tbody>
  </table>

  <table>
    <thead>
		  <tr>
			  <th>Contato</th>
		  </tr>
	  </thead>

	  <tbody id="contato_do_representante">
      <tr>
        <th class="label">E-mail</th>
        <td><%=h @representante.email %></td>
      </tr>

      <tr>
        <th class="label">Telefone</th>
        <td><%=h @representante.telefone %></td>
      </tr>

      <tr>
        <th class="label">Celular</th>
        <td><%=h @representante.celular %></td>
      </tr>
	  </tbody>
  </table>

<% end %>
<% content_for :side_bar do %>
  <ul class="side_bar_menu">
    <li><%= link_to 'Editar', edit_instituicao_representante_path %></li>
  </ul>
<% end %>

