<!DOCTYPE html>
<html>
<head>
  <title>Nucest</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>
  <div id="user_nav">
    <% if usuario_signed_in? %>
      <%= current_usuario.email %> |
      <%= link_to "Logout", destroy_usuario_session_path %>
    <% else %>
      <%= link_to "Login", new_usuario_session_path %>
    <% end %>
  </div>

  <div id="header" class="clear">
    <center>
      <img src="/images/head_nucest.gif">
    </center>
  </div>
  <div id="navigation">
    <div id="menu">
      <ul>
        <%=t li_link_to "Instituições", instituicoes_path %>
        <%=t li_link_to "Áreas de estágio", areas_path %>
        <%=t li_link_to "Estagiários", estagiarios_path %>
        <%=t li_link_to "Estágios", "#" %>
        <%=t li_link_to "Usuários", usuarios_path %>
        <%=t li_link_to "Relatórios", "#" %>
      </ul>
    </div>
    <div id="breadcrumbs">
      <ul>
        <%= raw breadcrumbs %>
      </ul>
    </div>
  </div>


  <div id="content">
    <div id="principal_content">
      <%= yield :principal_content %>
    </div>

    <div id="control_painel_wrapper">
      <div id="control_painel">
        <%= yield :side_bar %>
      </div>
    </div>

    </br class="clear">
  </div>

</body>
</html>

